<div class="div-backgournd text-center bg-dark-subtle w-100 shadow border-5 border-black  mb-3 c-head">
        <!-- <ul class="row w-100 d-block ">
                <li class="nav-tab"><a routerLink="/Home" routerLinkActive="classactive">Home</a></li>
                <li class="d-inline mx-5 "><a class=" h-calss" [routerLink]="['/Home']"
                                routerLinkActive="classactive">Home</a>
                </li>
                <li class="  "><a routerLink="/prd/:id" routerLinkActive="classactive">product</a></li>
                <li class="d-inline   mx-5"><a class="h-calss" [routerLink]="['/aboutUs']"
                                routerLinkActive="classactive">About Us</a>
                </li>
                <li class="d-inline  mx-5 "><a class="h-calss" [routerLink]="['/contact']"
                                routerLinkActive="classactive">contactUs</a>
                </li>
                <li class="d-inline  mx-5 "><a class="h-calss" routerLink="/observer"
                                routerLinkActive="classactive">observer test
                        </a></li>

                <li class="d-inline  mx-5 "><a class="h-calss" routerLink="/productWithApi"
                                routerLinkActive="classactive">Products API</a></li>

                <li class="d-inline  mx-5 "><a class="h-calss" routerLink="/forms-test"
                                routerLinkActive="classactive">FormsTes</a></li>
              
        </ul> -->


        <ul class="nav justify-content-center justify-content-between container ">
                <li class="nav-item">
                        <a class=" h-calss" [routerLink]="['/Home']" routerLinkActive="classactive">Home</a>
                </li>
                <li class="nav-item">
                        <a class="h-calss" [routerLink]="['/aboutUs']" routerLinkActive="classactive">About Us</a>
                </li>
                <li class="nav-item">
                        <a class="h-calss" [routerLink]="['/contact']" routerLinkActive="classactive">contactUs</a>
                </li>
                <li class="nav-item">
                        <a class="h-calss" routerLink="/observer" routerLinkActive="classactive">observer test
                        </a>
                </li>
                <li class="nav-item">
                        <a class="h-calss" routerLink="/productWithApi" routerLinkActive="classactive">Products API</a>
                </li>
                <li class="nav-item">
                        <a class="h-calss" routerLink="/forms-test" routerLinkActive="classactive">FormsTes</a>
                </li>
                <li class="nav-item">
                        <a class="h-calss" routerLink="/add-product" routerLinkActive="classactive">AddNewProduct</a>
                </li>
                <!-- @for(){ -->

                @if(check == false ){
                <li class="nav-item">
                        <a class="h-calss" routerLink="/login" routerLinkActive="classactive">login</a>
                </li>
                }@else if(check == true) {
                <li class="nav-item">
                        <a class="h-calss" routerLink="/productWithApi" routerLinkActive=""
                                (click)="logout()">logout</a>
                </li>
                }

        </ul>
</div>