<div class=" container-fluid w-50  mb-5 d-flex ">
    <label for="f-prod-id">filter by prodict id</label>
    <input id="f-prod-id" type="text" class="form-control " placeholder="fileter by products id"
        [(ngModel)]="filterProdId">
    <button class="btn btn-outline-secondary ms-3 " (click)="searchProdId(filterProdId)">search by prod id</button>
</div>

<div class="">

    @if (productFilter) {
    <div class="col-4 px-3 container-fluid">
        <div class="border p-3 mb-5 border-3 shadow rounded-3   ">
            <div class=" border-black  ">
                <img [src]="productFilter!.PrdimgURL" class="rounded-3 img-fluid  " alt="">
            </div>
            <div class="px-4  border-black  ">
                <p>Name : {{productFilter!.name}}</p>
                <p>Price :{{productFilter!.price}} <br><span> quantity :{{productFilter!.quantity}} </span></p>
                <p>Id : {{productFilter!.id}}</p>
            </div>
        </div>
    </div>

    }

    @else {
    <h3>No matching product</h3>
    }
</div>

<hr>
<div class=" container-fluid w-50  mb-5 d-flex ">
    <label for="f-cat-id">filter by catigory id</label>
    <input id="f-cat-id" type="number" class="form-control " placeholder="fileter by categoryID"
        [(ngModel)]="filterCatID">
    <button class="btn btn-outline-secondary ms-3" (click)="searchCatID(filterCatID)">search wit cat id</button>
</div>

<div class="container mb-5 ">
    <div class="row  justify-content-center w-100 " style="max-width: 100%; max-height: 100%;">
        @for (item of productFilterd; track $index) {
        <div class="col-4 px-3" accordion-header >
            <div class="border p-3 mb-5 border-3 shadow rounded-3   ">
                <div class=" border-black  ">
                    <img [src]="item.PrdimgURL" class="rounded-3 img-fluid  " alt="">
                </div>
                <div class="px-4  border-black  ">
                    <h5>{{item.name}}</h5>
                    <p>Price : {{item.price}} <br><span> quantity : {{item.quantity}}</span></p>
                    <p>Id : {{item.id}}</p>
                </div>

                <div class="">
                    <button class="btn btn-danger mx-3 " (click)="deleteProd(item.id)">Delete</button>
                    <button class="btn btn-warning   " (click)="updateProd(item.id)">update</button>
                </div>

            </div>

        </div>

        }@empty {

        <h3>no matching products</h3>

        }
    </div>

</div>